h3,
p,
h4 {
  color: #191919;
  margin-bottom: 0;
}

.sidebar-gray-text {
  color: #666666;
}

.sidebar-circle-image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.sidebar-text-profile {
  line-height: 1.2;
}

.sidebar-btn {
  width: 130px;
  background-color: white;
  color: #5e5e5e;
  border-radius: 25px;
  border: none;
}

.sidebar-btn:hover {
  background-color: #ebebeb;
  color: #404040;
  cursor: pointer;

  border-radius: 25px;
}

.sidebar-icon {
  color: #5e5e5e;
}

.sidebar-mostra-tutto:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.sidebar-img {
  border-radius: 10px;
}

.sidebar-first-section {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  background-color: white;
}

.sidebar-second-section {
  background-color: white;
  padding: 15px;
}

p {
  margin-bottom: 0;
}

h4 {
  font-size: 17px;
}

h3 {
  font-size: 19px;
}

.line {
  background-color: #404040;
  height: 1px;
}

.sidebar-main {
  background-color: white;
}

.second-section {
  background-color: white;
  border-radius: 10px;
}

/* SIDEBAR DX HOME */
.info:hover {
  cursor: pointer;
}

.sidebar-dx {
  color: #9c9c9c;
}

.btn-vedi-altro {
  background-color: transparent;
  border-color: transparent;
  padding: -2px;
}

.btn-vedi-altro:hover {
  background-color: #ebebeb;
  border-radius: 5px;
}

.sidebar-list li:hover,
.sidebar-list p:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

.hide-margin {
  margin-bottom: 0;
}

ul > li > p {
  font-size: 13px;
}

ul > li {
  font-size: 15px;
}
