.App {
  background-color: #f4f2ee;
  height: 100%;
}

.customCard {
  background: #f8fafd !important;
}

.prev,
.next {
  color: #717171 !important;
}

.prev:hover,
.next:hover {
  color: #1a1a1a !important;
}


.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs24 {
  font-size: 24px;
}

body {
  font-family: "Roboto", sans-serif;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.btn_filtra_post {
  background-color: transparent;
  border: 1px solid rgb(186, 186, 186);
}

.btn_filtra_post:hover {
  background-color: rgb(170, 170, 170);
  border: 1px solid gray;
}

#mytext {
  width: 100%;
  height: 100%;
}


.trash_icon {
  padding: 4px;
  cursor: pointer;
  margin-left: 2px;
}

.trash_icon:hover {
  color: rgb(203, 46, 46);
  background-color: #c4c4c4;
  border-radius: 4px;
}

.pen_icon:hover {
  color: rgb(53, 53, 199);
  background-color: #c4c4c4;
  border-radius: 4px;
}

.pen_icon {
  padding: 4px;
  cursor: pointer;
}

.put_del {
  display: flex;
  align-items: center;
  margin-inline-start: auto;
}

.toast_abs {
  position: fixed;
  top: 50px;
  right: 8px;
}